* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loader-container img {
  height: 40vh;
  width: 40vh;
}

.loader-container.fade-out {
  top: -120%;
}

.body {
  display: flex;
  position: absolute;
  top: 48vh;
  left: 23vw;
  width: 70vw;
}

.content {
  font-family: monospace;
  color: white;
  display: flex;
  width: -webkit-calc(70%);
}


.typewrite {
  font-size: 2rem;
  line-height: 1.15;
}

.typewrite::after {
  content: "_";
  display: inline;
  animation: blink 0.5s infinite;
}

.footer {
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
  position: absolute;
  bottom: 1%;
  left: 40vw;
}

.hover {
  color: white;
  font-family: monospace;
  font-size: 1.3rem;
  position: absolute;
  bottom: 5%;
  left: 53vw;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: translateX(45deg);
  }

  50% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-45deg);
  }
}


.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.circle {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  pointer-events: none;
  position: fixed;
  background: none;
  top: -10rem;
  left: -10rem;
  height: 3rem;
  width: 3rem;
  transition: transform 0.4s, background 0.4s;
}
